.outer{
    margin-top: 200px ;
    height: 300px;
    width: 500px;
    background-color: wheat;
    border-radius: 30px;
    display: flex;
    /* justify-content: ; */
}
body{
    display: flex;
    justify-content: center;
    
}
.inner{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: azure;
    margin: 20px;
}
.text{
    margin: 10px;
}